@model Project_DC.Models.Rooms

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Вы уверены удалить запись?</h3>
<div>
    <h4>Rooms</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Наименование
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomsName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RoomsId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
