@model Project_DC.Models.ScheduleTemplate

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>График сотрудников</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StaffId" class="control-label">Сотрудник</label>
                    <select asp-for="StaffId" class="form-control" asp-items="ViewBag.StaffId">
                    <option value="0">  Выберите значение  </option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DayOfWeek" class="control-label">День недели</label>
               <select asp-for="DayOfWeek" class="form-control" asp-items="ViewBag.DayOfWeek">
                    <option value="0">  Выберите значение  </option>
                    </select>
            </div>
            <div class="form-group">
                <label asp-for="withTime" class="control-label">Время начала рабочего дня</label>
                <input asp-for="withTime" class="form-control" type="time" />
                <span asp-validation-for="withTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToTime" class="control-label">Время конца рабочего дня</label>
                <input asp-for="ToTime" class="form-control" type="time" />
                <span asp-validation-for="ToTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
