@model Project_DC.Models.ClientsService

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ClientsService</h4>
<hr />
<div class="row">
    <div class="col col-md-4">
        <div class="row">
            <div class="col">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="PatientsId" class="control-label"></label>
                        <select asp-for="PatientsId" class="form-control" asp-items="ViewBag.PatientsId"></select>
                        <span asp-validation-for="PatientsId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StaffsId" class="control-label"></label>
                        <select asp-for="StaffsId" class="form-control" asp-items="ViewBag.StaffId"></select>
                        <span asp-validation-for="StaffsId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ServiceDate" class="control-label"></label>
                        @Html.TextBoxFor(m => m.ServiceDate, "{0:s}", new { type = "datetime-local", @class = "form-control" })
                        <span asp-validation-for="ServiceDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>