@{
}

<div id="context-menu">
    <div id="context-menu-item1" class="item context-menu-item">Base</div>
    <div id="context-menu-item2" class="item context-menu-item">Repaired</div>
    <div id="context-menu-item3" class="item context-menu-item">Removed</div>
    <div id="context-menu-item4" class="item context-menu-item">Empty</div>
    <div id="context-menu-item5" class="item context-menu-item">Implantat</div>
</div>
<div id="teeth_map" class="row">

</div>
    <!--
    <div class="card" style="margin-top: 9px; height: min-content;">
        <div class="card-body">
            <div class="row">
                <div class="col-2 me-2">
                    <svg id="tooth_details_18" data-src="teeth/teeth_svg/tooth_18.svg" data-cache="disabled" class="tooth teeth_top_8 float-start"></svg>
                </div>
                <div class="col">
                    <h5 class="card-title">Третий маляр</h5>
                    <h6 class="card-subtitle mb-2 text-muted">18</h6>
                </div>
                <div class="col col-2" style="text-align:right">
                    <button type="button" class="btn-close " aria-label="Close"></button>

                </div>
            </div>
            <hr class="my-2" />
            <p class="card-text">Установлен имплантат</p>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
        -->
