@{
}

<div id="context-menu">
    <div id="context-menu-item1" class="item context-menu-item">Base</div>
    <div id="context-menu-item2" class="item context-menu-item">Repaired</div>
    <div id="context-menu-item3" class="item context-menu-item">Removed</div>
    <div id="context-menu-item4" class="item context-menu-item">Empty</div>
    <div id="context-menu-item5" class="item context-menu-item">Implantat</div>
</div>
<div id="teeth_map" class="row">

</div>